body {
	padding-top: 48px;
	background-color: rgba(197, 197, 197, 0.514);
}

.jumbotron {
	background-color: rgb(64, 139, 209);
  background-image: url("img/dark-circles.png");
}

p {
	text-align: justify;
}

.gallery {

	column-count: 3;
	column-gap: 4px;
}

@media (max-width: 700px) {

	.gallery {

		column-count: 1;

	}
}

#delete_photo {
	height: 75px;
}

.css-serial {
	counter-reset: serial-number;  /* Set the serial number counter to 0 */
  }
  
  .css-serial td:first-child:before {
	counter-increment: serial-number;  /* Increment the serial number counter */
	content: counter(serial-number);  /* Display the counter */
  }

#footer {
	background-color: rgba(15, 15, 15, 0.603);
  background-image: url("img/dark-circles.png");
}
